@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-regular.woff2') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-bold.woff2') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-light.woff2') format('opentype');
  font-weight: 300;
  font-style: normal;
}