@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa%20Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa%20Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa%20Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}