@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-regular.woff2') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-bold.woff2') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-light.woff2') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@keyframes Hide {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes Show {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.close-menu {
  animation: Hide 0s ease-in forwards;
}
.open-menu {
  animation: Show 0.2s ease-in forwards;
}


.contact-form input {
  padding: 8px 12px;
  border-radius: 4px;
}